apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: ml-sales-service-cloud-run-arnab-ghosh
spec:
  template:
    spec:
      containers:
        - image: ml-sales-app-arnab-ghosh-image
          env:
            - name: VERSION
              value: "$SHORT_SHA"
